<header class="bg-primary-emeraldGreen bg-gradient-to-r from-primary-emeraldGreen to-primary-emeraldGreenTo text-white fixed w-full top-0 left-0 z-50">
  <nav class="mx-auto flex justify-between items-center px-6 pb-0">
    <!-- Website Logo -->
    <a href="/" class="flex items-center space-x-2">
      <img
    src="/Varun-Singh-logo.svg"
    alt="Varun Singh Logo"
    title="Varun Singh Real Estate Services"
    class="w-16 h-16 md:w-16 md:h-16 lg:w-24 lg:h-24"
    loading="lazy"
/>
    </a>

    <!-- Dark/Light Mode Toggle -->
    <button id="themeToggle" class="mr-4 text-white z-50">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path id="sunIcon" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v2M12 19v2M5.64 5.64l1.42 1.42M17.36 17.36l1.42 1.42M3 12h2M19 12h2M5.64 18.36l1.42-1.42M17.36 6.64l1.42-1.42M12 7a5 5 0 010 10a5 5 0 010-10z"></path>
        <path id="moonIcon" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12.79A9 9 0 1111.21 3a7 7 0 000 14.9A9 9 0 0121 12.79z" class="hidden"></path>
      </svg>
    </button>

    <!-- Menu Button with "X" Toggle -->
    <button id="menu-toggle" class="flex items-center space-x-2 p-2 bg-gradient-to-r from-primary-metallicGold to-primary-metallicGoldTo bg-primary-metallicGold rounded-full text-primary-deepGreen z-50 font-poppins">
      <span class="font-poppins font-extralight">Menu</span>
      <div class="flex flex-col justify-center space-y-1">
        <span class="block w-6 h-0.5 bg-primary-deepGreen transition-transform duration-300 transform" id="line1"></span>
        <span class="block w-6 h-0.5 bg-primary-deepGreen transition-transform duration-300 transform" id="line2"></span>
        <span class="block w-6 h-0.5 bg-primary-deepGreen transition-transform duration-300 transform" id="line3"></span>
      </div>
    </button>
  </nav>

  <!-- Overlay Navigation Menu -->
  <nav id="overlay-nav" class="mx-auto fixed inset-0 hidden flex-col items-start justify-center space-y-4
  bg-gradient-to-r from-primary-emeraldGreen to-primary-emeraldGreenTo
   text-white px-6 text-left z-40">
    <a href="/" class="flex items-center space-x-2">
      <img
    src="/Varun-Singh-logo2.svg"
    alt="Varun Singh Logo"
    title="Varun Singh Real Estate Services"
    class="w-24 h-24 md:w-24 md:h-24 lg:w-24 lg:h-24"
    loading="lazy"
/>

    </a>
    <a href="/" class="font-poppins block text-lg hover:text-primary-mintGreen">Home</a>
    <a href="/about" class="font-poppins block text-lg hover:text-primary-mintGreen">About</a>
    <a href="/entrepreneurship" class="font-poppins block text-lg hover:text-primary-mintGreen">Entrepreneurship</a>
    <a href="/work" class="font-poppins block text-lg hover:text-primary-mintGreen">Work</a>
    <a href="/media" class="font-poppins block text-lg hover:text-primary-mintGreen">Media</a>
    <a href="/personal" class="font-poppins block text-lg hover:text-primary-mintGreen">Personal</a>
    <a href="/blogs" class="font-poppins block text-lg hover:text-primary-mintGreen">Blogs</a>
    <a href="/contact" class="font-poppins block text-lg hover:text-primary-mintGreen">Contact</a>
    <a href="/resources" class="font-poppins block text-lg hover:text-primary-mintGreen">Resources</a>
  </nav>
</header>